<div class="container">
  <form class="row mt-3 mb-2 gx-2 gy-3 align-items-center justify-content-center">
    <div class="col-sm-6">
      <label for="specificSizeInputName" class="visually-hidden"></label>
      <input type="text" class="form-control" name="wish_text" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); addNewWish();">Submit</button>
    </div>
  </form>

  <div class="row mt-3">
    <div *ngIf="items.length === 0; else showItems">
      <p>There are no wishes to display</p>
    </div>

    <ng-template #showItems>
      <ul *ngIf="items.length > 0" class="wish-list">
        <li class="form-check" *ngFor="let item of items; index as i">
          <label class="form-check-label">
            <input type="checkbox" class="checkbox"
              [checked]="item.isComplete"
              [attr.data-index]="i"
              (click)="toggleItem(item)">
            {{ item.text }}
          </label>
        </li>
      </ul>
    </ng-template>
  </div>
</div>
